/* Font */
@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap");

/* Variables */
:root {
  --light-text: #ffffff;
  --dark-text: hsl(229, 25%, 31%);
  --score-text: hsl(229, 25%, 31%);
  --outline: hsl(217, 16%, 45%);
  --bg-grad-1: #89c15e;
  --bg-grad-2: #89c15e;
  --scissors-1: #bd00ff;
  --scissors-2: #bd00ff;
  --paper-1: hsl(40, 88%, 51%);
  --paper-2: hsl(40, 89%, 50%);
  --rock-1: hsl(230, 89%, 65%);
  --rock-2: hsl(230, 89%, 65%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  background: radial-gradient(at top, var(--bg-grad-1), var(--bg-grad-2));
  min-height: 100vh;
  text-transform: uppercase;
  color: var(--light-text);
}

/* Main Content */
.container {
  position: relative;
  max-width: 700px;
  margin: 0 auto;
  padding-top: 2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
  border: 3px solid white;
  border-radius: 20px;
  padding: 1rem 1.4rem 1rem 2rem;
}

.logo img {
  height: 100%;
}

.score {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 10px;
  width: 150px;
  height: 100%;
  line-height: 1;
}

.score__title {
  font-size: 1.1rem;
  letter-spacing: 0.1em;
  color: var(--score-text);
}

.score__number {
  font-size: 4rem;
  font-weight: 700;
  color: var(--dark-text);
}

/* Game */
.game {
  position: relative;
  display: grid;
  grid-template-columns: (repeat(2, 1fr));
  grid-template-areas:
    "rock scissors"
    "paper paper";
  place-items: center;
  height: 30rem;
  padding-top: 4rem;
}
.game::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 28%;
  top: 35%;
  background: url("./images/bg-triangle.svg") no-repeat;
  z-index: -1;
}

.choice-btn {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}
.choice {
  position: relative;
  width: 10rem;
  height: 10rem;
  background: #fff;
  border-radius: 50%;
  display: grid;
  place-items: center;
}
.choice::before,
.choice::after {
  content: "";
  position: absolute;
  left: -15%;
  top: -15%;
  width: 130%;
  height: 130%;
  border-radius: 50%;
  z-index: -1;
}

.choice::after {
  opacity: 0;
  transition: opacity 0.4s ease;
}
.choice-btn:focus .choice::after {
  opacity: 1;
  box-shadow: 0 0 0 2rem #225122;
  z-index: -2;
}

.choice img {
  transform: scale(1.5);
}

.choice.paper::before {
  background: linear-gradient(to bottom, var(--paper-1), var(--paper-2));
  box-shadow: 0 0.5rem var(--shadow-med), 0 0.5rem var(--paper-2);
}
.choice.scissors::before {
  background: linear-gradient(to bottom, var(--scissors-1), var(--scissors-2));
  box-shadow: 0 0.5rem var(--shadow-med), 0 0.5rem var(--scissors-2);
}
.choice.rock::before {
  background: linear-gradient(to bottom, var(--rock-1), var(--rock-2));
  box-shadow: 0 0.5rem var(--shadow-med), 0 0.5rem var(--rock-2);
}

.choice-btn[data-choice="paper"] {
  grid-area: paper;
}
.choice-btn[data-choice="scissors"] {
  grid-area: scissors;
}
.choice-btn[data-choice="rock"] {
  grid-area: rock;
}

/* Results */
.results {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  grid-template-areas:
    "you-title ai-title"
    "you-picked ai-picked";
  max-width: 1000px;
  margin: 0 auto;
}

.results__heading {
  font-size: 1.5rem;
  letter-spacing: 0.1em;
  padding: 4rem 0 8rem;
}
.results__result {
  min-width: 10rem;
  min-height: 10rem;
  background: #66b248;
  border-radius: 50%;
  transform: scale(1.4);
  z-index: -1;
}

.results__heading:first-of-type {
  grid-area: you-title;
}
.results__heading:last-of-type {
  grid-area: ai-title;
}
.results__result:first-of-type {
  grid-area: you-picked;
}
.results__result:last-of-type {
  grid-area: ai-picked;
}

.results.show-winner {
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "you-title . ai-title"
    "you-picked result-winner ai-picked";
}

.winner .choice::after {
  box-shadow: 0 0 0 20px #289a27, 0 0 0 50px #32a62f, 0 0 0 80px #66b248;
  animation: winner 1s ease forwards;
}

@keyframes winner {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.results__winner {
  grid-area: result-winner;
  display: grid;
  place-items: center;
}
.results__text {
  font-size: 3.5rem;
  padding-bottom: 1.5rem;
}
.play-again {
  background: #fff;
  outline: none;
  border: 2px solid transparent;
  border-radius: 0.6rem;
  color: var(--dark-text);
  padding: 0.6rem 3.5rem;
  font-family: inherit;
  text-transform: inherit;
  font-size: 1.3rem;
  letter-spacing: 0.1em;
  cursor: pointer;
}
.play-again:focus {
  border: 2px solid var(--outline);
}

/* Rules Button */
.rules-btn {
  position: absolute;
  bottom: 2rem;
  right: calc(
    2rem + 6.5rem + 0.5rem
  ); /* Adjust based on the width and padding of the next button */
  background: none;
  outline: none;
  border: 2px solid white;
  border-radius: 0.6rem;
  color: var(--light-text);
  padding: 0.6rem 1.5rem;
  font-family: inherit;
  text-transform: inherit;
  font-size: 1.3rem;
  letter-spacing: 0.1em;
  cursor: pointer;
}
.rules-btn:focus {
  border: 2px solid #fff;
}
.button-container {
  gap: 40px !important;
}
/* Next Button */
.next-btn {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  background: none;
  outline: none;
  border: 2px solid white;
  border-radius: 0.6rem;
  color: var(--light-text);
  padding: 0.6rem 1.5rem;
  font-family: inherit;
  text-transform: inherit;
  font-size: 1.3rem;
  letter-spacing: 0.1em;
  cursor: pointer;
}
.next-btn:focus {
  border: 2px solid #fff;
}
/* Close Button */
.close-btn {
  border: 7px solid white !important;
  color: white !important;
  background-color: red !important;
  padding: 10px;
  cursor: pointer;
  position: absolute;
  border-radius: 50%;
  top: -2rem; /* Adjust the top position as needed */
  right: -2rem; /* Adjust the right position as needed */
  z-index: 999999; /* Ensure the close button is above other elements */
}

/* Rules Modal */
.modal__container {
  background: #004429;
  border-radius: 0.5rem;
  border: 8px solid white;
  position: relative; /* Ensure relative positioning for absolute positioning of close button */
  padding: 0 1rem 1rem 1rem;
}

/* Rules Modal */
.modal {
  position: absolute;
  height: 100%;
  max-width: 320px;
  top: 8rem;
  right: 3rem;
  display: grid;
  place-items: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
}
.modal__header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 2rem 2rem 1rem;
}
.modal__heading {
  font-size: 1.5rem;
  color: white;
  display: flex;
}
.close-btn {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}
.show-modal {
  opacity: 1;
  pointer-events: initial;
}
.rules-text {
  font-size: 16px;
  line-height: 1.5;
  color: white;
}

.rules-text > ul {
  list-style-type: none; /* Remove default bullet points */
}

.rules-text > ul > li {
  text-decoration-color: yellow;
  position: relative;
  padding-left: 25px; /* Adjust as needed */
  margin-bottom: 10px;
}

.rules-text > ul > li::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 10px; /* Adjust as needed for square size */
  height: 10px; /* Adjust as needed for square size */
  background-color: yellow;
  border-radius: 2px;
}


/* Utilities */
.preload * {
  transition: none;
}

.hidden {
  display: none;
}
.button-container {
  gap: 20px;
}
.congrats-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 20px;
}

.congrats-container img {
  background-image: url("./images/Group\ 5.png");
  background-size: contain;
  max-width: 100%;
  margin-bottom: 20px;
  padding: 8rem 6rem 1rem 6rem;
}

.congrats-message {
  font-size: 3rem;
  margin-bottom: 20px;
}
